{%  extends "base.twig" %}

{%  block content %}
    <div class="col-sm-8 content">
        <ol class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li class="active">{{  product.name }}</li>
        </ol>
        <div class="breadcrumb">
            <h2>{{ product.name }}</h2>
            <p>Price: {{  product.price }}</p>
            <p>Description: {{  product.description }}</p>
            <p><a href="/cart/add/{{ product.slug }}" class="btn btn-primary">Add to cart</a></p>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="breadcrumb">
            <h2>Cart content</h2>
            <ul class="list-unstyled">
                {% for product in cart %}
                    <li>{{  product.name }}</li>
                {%  endfor %}
            </ul>
            <a href="/cart" class="btn btn-default">Order</a></p>
        </div>
    </div>
{%  endblock %}
